/**
 * Variables
 */
$border-color: #e0e0e0;
$border-color--darker: #949494;

$text-color--black: #1e1e1e;
$text-color--wp-admin-text: #3c434a;
$text-color--gray: #757575;
$text-color--green: #307d07;
$text-color--red: #9e1313;

$background-color--gray: #f0f0f0;
$background-color--info: #f2f8fb;

$wp-admin-default--accent: #3858e9;
