@use "../variables" as *;

/**
 * Multilingual text control
 */
.tsc-multilingual-text-control {
	&__field {
		position: relative;

		label {
			position: absolute;
			margin: 0;
			background: $background-color--gray;
			padding: 0;
			top: 8px;
			left: 8px;
			line-height: 24px;
			width: 50px;
			text-align: center;
		}

		input[type="text"] {
			padding-left: 66px !important;
		}
	}
}
